apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: radarx-models-pvc
  namespace: radarx
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: radarx-data-pvc
  namespace: radarx
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
  storageClassName: standard
